{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>{% block title %}{% endblock %}APZ PO</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
      {% include 'extra_head_info.html' %}
      {% include 'javascript.html' %}

      {% block style %}
      {% endblock %}

  </head>

  <body>
      <div class="nav" style ="margin-bottom:50px;">
        {% include 'navbar/navbar.html' %}
      </div>

        <!-- <div class="container"> -->
          {% block content %}
          {% endblock %}
        <!-- /container -->
  </body>
</html>